.articles {
    @include container;

    @media(max-width: $tablet) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

        @media(max-width: $smallDesktop) {
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width: $tablet) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    &__heading {
        font-weight: 400;
        font-size: 30px;
    }

    .article {
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
        border-radius: 0 0 6px 6px;

        @media(max-width: $tablet) {
            width: 70%;
        }

        @media(max-width: $mobile) {
            width: 90%;
        }

        &__content {
            padding: 24px;
        }

        &__photo {
            &--src {
                border-radius: 6px 6px 0 0;
                width: 100%;
                height: 200px;
            }
        }
    }
}
