.footer {
    background-color: $dark-blue;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;


    &__container {
        @include container;
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;

        &--right {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media(max-width: $smallDesktop) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        &--left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            @media(max-width: $smallDesktop) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        &--media {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @media(max-width: $smallDesktop) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        @media(max-width: $smallDesktop) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &__logo {

    }

    &__socials {
        margin-top: 14px;
    }

    &__social {
        margin-right: 14px;

        &--icon {
            width: 24px;
            height: 24px;
        }

        svg path {
            transition: fill 200ms ease-in-out;
        }

        &:hover svg path {
            fill: $green;
        }

        @media(max-width: $smallDesktop) {
            margin-right: 0;
            margin: 8px;
        }

        @media(max-width: $smallDesktop) {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    &__navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &--item {
            color: $light-grayish-blue;
            text-decoration: none;
            padding: 12px;
            margin-right: 24px;
            transition: color 200ms ease-in-out;

            &:hover {
                color: $green;
            }

            @media(max-width: $smallDesktop) {
                margin-right: 0;
                margin: 2px;
            }
        }

        @media(max-width: $smallDesktop) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

    }

    &__button {
        @include buttonInvite;

        @media(max-width: $smallDesktop) {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    &__copyright {
        color: $grayish-blue;
        margin-bottom: 0;
    }
}
