.hero {
    // background-color: $very-light-gray;
    overflow: hidden;
    position: relative;

    &__container {
        @include container;
        display: flex;
        height: 600px;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 400px;
    }

    &__title {
        font-weight: 400;
        font-size: 40px;
    }

    &__paragraph {
        color: $grayish-blue;
        font-weight: 300;
        line-height: 24px;
        margin: 0;
        margin-bottom: 28px;
    }

    &__button {
        @include buttonInvite;
    }

    &__photo {
        &--mockups {
            @include switchMockup;
            position: absolute;
            top: -150px;
        }

        &--background {
            @include switchBackground;
            top: -250px;
            position: absolute;
            z-index: -999999;
        }
    }
}
