.navigation {
    background-color: $white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    &__container {
        @include container;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 64px;
    }
    &__logo {

    }
    &__items {

    }
    &__item {
        color: $grayish-blue;
        text-decoration: none;
        margin: 0 12px;
    }
    &__button {
        border-radius: 25px;
        cursor: pointer;
        color: $white;
        border: none;
        height: 38px;
        width: 164px;
        outline: none;
        background: linear-gradient(113deg, rgba(49,211,92,0.75) 37%, rgba(43,183,218,0.75) 85%);
    }
}
