.navigation {
    background-color: $white;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
    position: fixed;
    z-index: 999999;
    width: 100%;

    &__container {
        @include container;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 64px;
        position: relative;
    }

    &__logo {

    }
    &__items {
        @media(max-width: $smallDesktop) {
            display: none;
        }
    }

    &__item {
        color: $grayish-blue;
        text-decoration: none;
        margin: 0 12px;
        width: 100px;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $green;
        }
    }

    &__button {
        @include buttonInvite;

        @media(max-width: $smallDesktop) {
            display: none;
        }
    }

    &__button-mobile {
        display: none;
        outline: none;

        @media(max-width: $smallDesktop) {
            cursor: pointer;
            display: block;
            background: none;
            border: none;
        }
    }
}
