@mixin container {
    margin: 0 112px;

    @media(max-width: $mediumDesktop) {
        margin: 0 32px;
    }

    @media(max-width: $smallDesktop) {
        margin: 0 32px;
    }

    @media(max-width: $tablet) {
        margin: 0 16px;
    }

    @media(max-width: $mobile) {
        margin: 0 8px;
    }
}

@mixin buttonInvite {
    background: linear-gradient(to right, $lime-green, $bright-cygan);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: $white;
    height: 42px;
    width: 160px;
    outline: none;
}

@mixin switchMockup {
    right: -130px;

    @media(max-width: $mediumDesktop) {
        right: -250px;
    }
}

@mixin switchBackground {
    right: -450px;

    @media(max-width: $mediumDesktop) {
        right: -615px;
    }
}
