@mixin container {
    margin: 0 128px;

    // @media(max-width: 1280px) {
    //     margin: 0 64px;
    // }

    // @media(max-width: 1280px) {
    //     margin: 0 32px;
    // }
}

@mixin buttonInvite {
    background: linear-gradient(to right, $lime-green, $bright-cygan);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: $white;
    height: 42px;
    width: 160px;
    outline: none;
}

@mixin switchMockup {
    right: -130px;

}

@mixin switchBackground {
    right: -450px;
}
