//primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cygan: hsl(192, 70%, 51%);

$green: hsla(136, 66%, 45%, 0.699);

// netural colors
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// break points:

$largeDesktop: 1440px;
$mediumDesktop: 1280px;
$smallDesktop: 1024px;
$tablet: 768px;
$mobile: 425px;
