@import "~normalize.css";

@import "_variables";
@import "_mixins";

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

//modules
@import "modules/body";
@import "modules/navigation";
@import "modules/hero";
